<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778074047477-g14r7602qfngs090phlpmemkq2or1bvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778074047477-g14r7602qfngs090phlpmemkq2or1bvv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778074047477-t0srq1rh4g8mqtnj7l8b47s24jsh7ce0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAco19wCqnEsVcL5C0Id2FH8K3CWczUu6s</string>
	<key>GCM_SENDER_ID</key>
	<string>778074047477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.asong57.treena-v2</string>
	<key>PROJECT_ID</key>
	<string>treena-18b88</string>
	<key>STORAGE_BUCKET</key>
	<string>treena-18b88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778074047477:ios:97d491e794c9ccb759d6bc</string>
	<key>DATABASE_URL</key>
	<string>https://treena-18b88-default-rtdb.firebaseio.com</string>
</dict>
</plist>